/Metronome.xcodeproj/project.xcworkspace/xcuserdata/xuannguyen.xcuserdatad/UserInterfaceState.xcuserstate

/Metronome.xcodeproj/project.xcworkspace/xcuserdata/

/Metronome.xcodeproj/xcuserdata/xuannguyen.xcuserdatad/xcdebugger/
